In [1]:
from pymongo.mongo_client import MongoClient
url = "mongodb://localhost:27017"
client = MongoClient(url)

In [2]:
# create the database
database = client["youtubecommunity"]

In [3]:
# create collection
collection = database["session"]

In [9]:
# import libraries
import pandas as pd
import json

In [5]:
# sample data
data = {
    "coursename":"genai",
    "instructurename":"sunny",
    "modeofsession":"english"
}
data

{'coursename': 'genai', 'instructurename': 'sunny', 'modeofsession': 'english'}

In [6]:
# insert the data into session
collection.insert_one(data)

InsertOneResult(ObjectId('65bdc57df5a660702a3b7600'), acknowledged=True)

In [7]:
# get data from mongo
all_record = collection.find()

In [7]:
for record in all_record:
    print(record)

{'_id': ObjectId('65ab4bcc427f9d748497871b'), 'coursename': 'genai', 'instructurename': 'sunny', 'modeofsession': 'english'}
{'_id': ObjectId('65ab4bcc427f9d748497871c'), 'coursename': 'mlops', 'instructurename': 'sunnysavitha', 'modeofsession': 'english&hindi'}
{'_id': ObjectId('65b48e4bd4e99e935fff7f6a'), 'coursename': 'genai', 'instructurename': 'sunny', 'modeofsession': 'english'}

In [8]:
collection.insert_many(
    [
        {
    "coursename":"genai",
    "instructurename":"sunny",
    "modeofsession":"english"
},
{
    "coursename":"mlops",
    "instructurename":"sunnysavitha",
    "modeofsession":"english&hindi"
}
        
    ]
)

InsertManyResult([ObjectId('65bdc587f5a660702a3b7601'), ObjectId('65bdc587f5a660702a3b7602')], acknowledged=True)

In [20]:
class mongodb_operations:

    def __init__(self, client_url: str, database_name: str, collection_name: str=None):
        self.client_url = client_url
        self.database_name = database_name
        self.collection_name = collection_name

    # 1. create/initialize the client object
    def create_client(self):
        client = MongoClient(self.client_url)
        return client
    
    # 2. create the database
    def create_database(self):
        client = self.create_client()
        database_name = client[self.database_name]
        return database_name

    # 3. create the collection
    def create_collection(self, collection = None):
        database = self.create_database()
        collection = database[self.collection_name]
        return collection
    
    # 4. insert the data/ records
    def insert_record(self, record:dict, collection_name:str):
        if type(record)==list:
            for data in record:
                if type(data) != dict:
                    raise TypeError("record must be in the dict") 
            collection = self.create_collection(collection_name)
            collection.insert_many(record)
        elif type(record) == dict:
            collection = self.create_collection(collection_name)
            collection.insert_one(record)           
    
    # 5. bulk insert the records
    def bulk_insert(self, datafile:str, collection_name:str=None):
        self.path = datafile
        if self.path.endswith('.csv'):
            data = pd.read_csv(self.path, encoding='utf-8')
        elif self.path.endswith('.xlsx'):
            data = pd.read_excel(self.path, encoding = 'utf-8')

        dataJson = json.loads(data.to_json(orient=True))
        collection = self.create_collection()
        collection.insert_many(data)

In [21]:
# call the mongodb
client_url = "mongodb://localhost:27017"
database_name = "myNewDB"
collection_name = "myNewCollection"

In [22]:
mongo = mongodb_operations(client_url, database_name, collection_name)

In [23]:
mongo.insert_record({"name":"kiran", "designation":"data scientist", "salary":"10k"}, collection_name)

In [24]:
mongo.insert_record([{"name":"rajan", "designation":"jr. data scientist", "salary":"5k"},
                     {"name":"sunny", "designation":"sr. data scientist", "salary":"15k"},
                     {"name":"krish", "designation":"lead data scientist", "salary":"20k"}], collection_name)